.container {
  position: relative;
  width: 100%;
  max-width: 480px;
}

.video,
.canvas,
.overlay {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.canvas {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.capturedImage {
  margin: .5rem 0 1rem;
}

.video,
.capturedImage {
  transform: scaleX(-1);
}

.indicators {
  display: flex;
  gap: .5rem;
  list-style: none;
  margin: .5rem 0 1rem;
}

.indicator {
  padding: 4px 8px;
  border-radius: .25rem;
  color: #fff;
  background-color: #b85b5b;
}

.indicatorGood {
  background-color: #4f984f;
}

.captureControls {
  display: flex;
  gap: .5rem;
}

.error {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fee;
  border: 1px solid #fcc;
  border-radius: .25rem;
  color: #c00;
}

.error p {
  margin: 0;
}
